html {
  // background: url('../../assets/city.jpg') no-repeat center center fixed;
  background: url('https://media.giphy.com/media/jruP6eiU36Kfgd8W5q/source.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: #0e1c41;
  opacity: .9;
}

.main {
  text-align: center;
  // background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  // color: white;
}
