html {
  background: url('../../assets/gifteliko.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  body {
    background-color: #20152c;
    opacity: .8;
  }

  // &.is-Facilitator,
  // &.is-Inventor,
  // &.is-Conservator {
  //   background: url('../../assets/gifteliko.gif') no-repeat center center fixed;

  //   body {
  //     background-color: #20152c;
  //     // background-color: transparent;
  //     opacity: .8;
  //   }
  // }

}


.main {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
