.toast-image {
    position: absolute;
    top: 4px;
    left: 2px;
    z-index: 4;
    border: 2px solid white;
    padding: 2px;
}

.react-toast-notifications__toast__content {
    padding: 8px 16px !important;
}

// .react-toast-notifications__toast__icon-wrapper {
//     width: 40px;
// }