.toast-image {
    position: absolute;
    top: 4px;
    left: 2px;
    z-index: 4;
    border: 2px solid white;
    overflow: hidden;

    img {
        object-fit: cover;
        object-position: center;
    }
}

.react-toast-notifications__toast__content {
    padding: 8px 26px !important;
}